<div class="wrap-login100 forget" >
    <span class="login100-form-title">
      Forget password
    </span>
    <form class="login100-form  p-l-55 p-r-55 p-t-20" #get="ngForm" novalidate >
       
        <div class="wrap-input100  m-b-16" data-validate="Email">
            <input class="form-control input100" type="Email" name="email" placeholder="email"

            [(ngModel)]="model.email" 
            #email ="ngModel" 
            [ngClass]="{'is-invalid':get.submitted && email.invalid}" required email />

            <span class="focus-input100"></span>

            <div class="invalid-feedback" *ngIf="get.submitted && email.invalid">

                <div *ngIf = "email.errors.required"> Email name is required</div>
                <div *ngIf = "email.errors.email"> Email must be a valid email Address
                    
                </div>
            </div>
        </div>
        
        <div class="text-right p-t-13 p-b-23">                                    
            <a class="txt2" [routerLink]="['/login']">
              I Remerber
            </a>
        </div>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Send Reset Instructions
            </button>
        </div>
    </form>
</div>