


			<div class="customer-name">
				<i class="fa fa-users"></i>
				 Customer
			</div>

			<div class="cus-home">
				<div class="home">
					<i class="fa fa-home"></i>
					Home	
					<span class="r-arrow">
						<i class="fa fa-caret-right"></i>
					</span>				
				</div>
				<div class="cus-title">
					Customer List
				</div>
			</div>

			<div class="cus-button">
				<button class="btn add-btn" [routerLink]="['/customer-form']"> 
					<i class="fa fa-plus"></i>
				</button>
				<button class="btn dash">
					<img src="assets/images/dashboard.svg">
				</button>
			</div>

		<section class="customer-list">		
			<div class="customer-name">
				<i class="fa fa-list"></i>
				 Customer list
			</div>  

		    <table class="table book-table">
		          <thead class="table-head">
		            <tr>
		              <th>Created on </th>
		              <th> Customer Name </th>  
		              <th> Customer mail  </th>
		              <th> Home Tel  </th>                        
		              <th> Work Tel  </th>                        
		              <th> Mobile Tel  </th>  
		              <th> Action </th>                        
		            </tr>
		          </thead>        
		                        
		          <tbody class="table-body">
		            <!-- 1st tr -->
		              <tr class="prior-class">	
		                 <td class="date-sec">
		                    2/2/2018
		                  </td>	           
		                  <td class="profile-sec">
		                    <div class="table-admin">
		                       <ul class="list-admin">
		               
		                          <li>
		                         <span>
		                            <a class="admin" href="#">
		                             <img src="assets/images/admin1.png" alt="Admin" >
		                            </a>
		                          </span>
		                        </li>
		                    
		                        <li  class="pro-name">
		                          T Ritika singh
		                        </li>
		                      </ul>
		                    </div>
		                  </td>
		                  <td class="desc-sec">
		                    <div class="table-list">
		                      	Ritika singh@gmail.com
		                    </div>
		                  </td>	
		                  <td>
		                  	<div class="mobile-no">
		                  		121212313
		                  	</div>
		                  </td>	
		                  <td>
		                  	<div class="mobile-no">
		                  		222556686
		                  	</div>
		                  </td>	  
		                  <td>
		                  	<div class="mobile-no">
		                  		787895865
		                  	</div>
		                  </td>              
		                  
		                  <td class="action-sec" >
		                    <div class="table-icon">
		               			<div class="cus-button">
		               				<button class="btn det-btn"> 
		               					<i class="fa fa-car"></i>
		               				</button>
		               				<button class="btn add-btn">
		               					<i class="fa fa-eye"></i>
		               				</button>
		               				<button class="btn edit-btn">
		               					<img src="assets/images/pen.svg">
		               				</button>
									<button class="btn delete-btn"> 
										<img src="assets/images/delete.svg">
									</button>									
								</div>
		                    </div>
		                  </td>
		              </tr>

		               <!-- 2nd tr -->
		                <tr class="prior-class">	
		                 <td class="date-sec">
		                    2/2/2018
		                  </td>	           
		                  <td class="profile-sec">
		                    <div class="table-admin">
		                       <ul class="list-admin">
		               
		                          <li>
		                         <span>
		                            <a class="admin" href="#">
		                             <img src="assets/images/admin2.png" alt="Admin" >
		                            </a>
		                          </span>
		                        </li>
		                    
		                        <li  class="pro-name">
		                          T Ritika singh
		                        </li>
		                      </ul>
		                    </div>
		                  </td>
		                  <td class="desc-sec">
		                    <div class="table-list">
		                      	Ritika singh@gmail.com
		                    </div>
		                  </td>	
		                  <td>
		                  	<div class="mobile-no">
		                  		121212313
		                  	</div>
		                  </td>	
		                  <td>
		                  	<div class="mobile-no">
		                  		222556686
		                  	</div>
		                  </td>	  
		                  <td>
		                  	<div class="mobile-no">
		                  		787895865
		                  	</div>
		                  </td>              
		                  
		                  <td class="action-sec" >
		                    <div class="table-icon">
		               			<div class="cus-button">
		               				<button class="btn det-btn"> 
		               					<i class="fa fa-car"></i>
		               				</button>
		               				<button class="btn add-btn">
		               					<i class="fa fa-eye"></i>
		               				</button>
		               				<button class="btn edit-btn">
		               					<img src="assets/images/pen.svg">
		               				</button>
									<button class="btn delete-btn"> 
										<img src="assets/images/delete.svg">
									</button>									
								</div>
		                    </div>
		                  </td>
		              </tr>
		               <!-- 4th tr -->
		                <tr class="prior-class">	
		                 <td class="date-sec">
		                    2/2/2018
		                  </td>	           
		                  <td class="profile-sec">
		                    <div class="table-admin">
		                       <ul class="list-admin">
		               
		                          <li>
		                         <span>
		                            <a class="admin" href="#">
		                             <img src="assets/images/admin3.png" alt="Admin" >
		                            </a>
		                          </span>
		                        </li>
		                    
		                        <li  class="pro-name">
		                          T Ritika singh
		                        </li>
		                      </ul>
		                    </div>
		                  </td>
		                  <td class="desc-sec">
		                    <div class="table-list">
		                      	Ritika singh@gmail.com
		                    </div>
		                  </td>	
		                  <td>
		                  	<div class="mobile-no">
		                  		121212313
		                  	</div>
		                  </td>	
		                  <td>
		                  	<div class="mobile-no">
		                  		222556686
		                  	</div>
		                  </td>	  
		                  <td>
		                  	<div class="mobile-no">
		                  		787895865
		                  	</div>
		                  </td>              
		                  
		                  <td class="action-sec" >
		                    <div class="table-icon">
		               			<div class="cus-button">
		               				<button class="btn det-btn"> 
		               					<i class="fa fa-car"></i>
		               				</button>
		               				<button class="btn add-btn">
		               					<i class="fa fa-eye"></i>
		               				</button>
		               				<button class="btn edit-btn">
		               					<img src="assets/images/pen.svg">
		               				</button>
									<button class="btn delete-btn"> 
										<img src="assets/images/delete.svg">
									</button>									
								</div>
		                    </div>
		                  </td>
		              </tr>
		               <!-- 5th tr -->
		                <tr class="prior-class">	
		                 <td class="date-sec">
		                    2/2/2018
		                  </td>	           
		                  <td class="profile-sec">
		                    <div class="table-admin">
		                       <ul class="list-admin">
		               
		                          <li>
		                         <span>
		                            <a class="admin" href="#">
		                             <img src="assets/images/admin4.jpg" alt="Admin" >
		                            </a>
		                          </span>
		                        </li>
		                    
		                        <li  class="pro-name">
		                          T Ritika singh
		                        </li>
		                      </ul>
		                    </div>
		                  </td>
		                  <td class="desc-sec">
		                    <div class="table-list">
		                      	Ritika singh@gmail.com
		                    </div>
		                  </td>	
		                  <td>
		                  	<div class="mobile-no">
		                  		121212313
		                  	</div>
		                  </td>	
		                  <td>
		                  	<div class="mobile-no">
		                  		222556686
		                  	</div>
		                  </td>	  
		                  <td>
		                  	<div class="mobile-no">
		                  		787895865
		                  	</div>
		                  </td>              
		                  
		                  <td class="action-sec" >
		                    <div class="table-icon">
		               			<div class="cus-button">
		               				<button class="btn det-btn"> 
		               					<i class="fa fa-car"></i>
		               				</button>
		               				<button class="btn add-btn">
		               					<i class="fa fa-eye"></i>
		               				</button>
		               				<button class="btn edit-btn">
		               					<img src="assets/images/pen.svg">
		               				</button>
									<button class="btn delete-btn"> 
										<img src="assets/images/delete.svg">
									</button>									
								</div>
		                    </div>
		                  </td>
		              </tr>
		               <!-- 6th tr -->
		              <tr class="prior-class">	
		                 <td class="date-sec">
		                    2/2/2018
		                  </td>	           
		                  <td class="profile-sec">
		                    <div class="table-admin">
		                       <ul class="list-admin">
		               
		                          <li>
		                         <span>
		                            <a class="admin" href="#">
		                             <img src="assets/images/admin5.png" alt="Admin" >
		                            </a>
		                          </span>
		                        </li>
		                    
		                        <li  class="pro-name">
		                          T Ritika singh
		                        </li>
		                      </ul>
		                    </div>
		                  </td>
		                  <td class="desc-sec">
		                    <div class="table-list">
		                      	Ritika singh@gmail.com
		                    </div>
		                  </td>	
		                  <td>
		                  	<div class="mobile-no">
		                  		121212313
		                  	</div>
		                  </td>	
		                  <td>
		                  	<div class="mobile-no">
		                  		222556686
		                  	</div>
		                  </td>	  
		                  <td>
		                  	<div class="mobile-no">
		                  		787895865
		                  	</div>
		                  </td>              
		                  
		                  <td class="action-sec" >
		                    <div class="table-icon">
		               			<div class="cus-button">
		               				<button class="btn det-btn"> 
		               					<i class="fa fa-car"></i>
		               				</button>
		               				<button class="btn add-btn">
		               					<i class="fa fa-eye"></i>
		               				</button>
		               				<button class="btn edit-btn">
		               					<img src="assets/images/pen.svg">
		               				</button>
									<button class="btn delete-btn"> 
										<img src="assets/images/delete.svg">
									</button>									
								</div>
		                    </div>
		                  </td>
		              </tr>
		          </tbody>
		        </table>
			</section>
