

		<!-- <button type="button" class="btn btn-info btn-lg" >Open Modal</button> -->

		  <!-- Modal -->
		  <div class="modal form-modal fade" id="myModal" role="dialog" >
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        
		        <div class="modal-body">
		          <div class="cus-button form-save">
					<button class="btn add-btn" (click)="onAddItem()"> 
						<i class="fa fa-check"></i>
						<span> Save</span>
					</button>
					<button class="btn delete-btn">
						<i class="fa fa-times"></i> 
						<span> Cancel</span>
					</button>
				</div>

				<section class="customer-list">		
					<div class="customer-name">
						<i class="fa fa-plus"></i>
							Customer Form
					</div>  
					<section class="details-form">					
					    <form class="login100-form" >					       
					        <div class="wrap-input100" data-validate="Please enter username">
					        	<p class="input-dec"><span> * </span> Name : </p>
					            <input class="form-control input100" type="text" name="username" 

					            #userName

					            [(ngModel)]="model.username" 
					            #username ="ngModel" 
					            [ngClass]="{'is-invalid':up.submitted && username.invalid}" required />
					            <span class="focus-input100"></span>  

					             <div class="invalid-feedback">
					                <div> Username is required</div>
					            </div>      

					        </div>

					        <div class="wrap-input100  " data-validate="Email">

					        	<p class="input-dec"><span> * </span> Email : </p>

					            <input class="form-control input100" type="Email" name="email" 

					            #userMail

					            [(ngModel)]="model.email" 
					            #email ="ngModel" 
					            [ngClass]="{'is-invalid':up.submitted && email.invalid}" required email />

					            <span class="focus-input100"></span>

					            <div class="invalid-feedback" *ngIf="up.submitted && email.invalid">
					                <div *ngIf = "email.errors.required"> Email name is required</div>
					                <div *ngIf = "email.errors.email"> Email must be a valid email Address</div>
					            </div>
					        </div>

					        <!-- <div class="wrap-input100" >

					        	<p class="input-dec"><span> * </span> Address : </p>

					           	<textarea rows="4" cols="50" class="form-control input100"

					           	#userDetail

					           	>
								</textarea>		          

					            <span class="focus-input100"></span>  

					             <div class="invalid-feedback">
					                <div> Address is required</div>
					            </div> 

					        </div> -->

					        <div class="wrap-input100" >

					        	<p class="input-dec"><span> * </span> Mobile Tel : </p>

					            <input class="form-control input100" type="number"

					            #userHome

					            > 

					            <span class="focus-input100"></span>  

					        </div>

					        <div class="wrap-input100" >

					        	<p class="input-dec"><span> * </span> Home Tel : </p>

					            <input class="form-control input100" type="number"

					            #userWork

					            > 

					            <span class="focus-input100"></span>  

					        </div>
					        <div class="wrap-input100" >

					        	<p class="input-dec"><span> * </span> Work Tel : </p>

					            <input class="form-control input100" type="number"

					            #userMob

					            > 

					            <span class="focus-input100"></span>  

					        </div>
					         <!-- <div class="wrap-input100" >

					        	<p class="input-dec"> Upload Image : </p>

				            	<div class="wrapper">
									<button class="no-image" id="img-result">
										<span class="add-image"> <i class="fa fa-plus"></i> </span>
									</button>
								</div>
					        </div> -->
					    </form>
					</section>		
				</section>
		    </div>		     
		</div>
	</div>
</div>


		<!-- <div class="customer-name">
			<i class="fa fa-users"></i>
			 Customer
		</div>

		<div class="cus-home">
			<div class="home">
				<i class="fa fa-home"></i>
				Home
				<span class="r-arrow">
					<i class="fa fa-caret-right"></i>
				</span>
			</div>
			<div class="home">
				Customer list
				<span class="r-arrow">
					<i class="btn add-btn fa fa-caret-right"></i>
				</span>
			</div>
			<div class="cus-title">
				Add/Update customer
			</div>
		</div> -->


