
<div class="main-bg">
    <div class="box-conatiner">         
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="company-sec">
                    <div class="small-cir">
                        <div class="logo-title">
                          <span> RIPARA </span>
                          <p> Begin with us</p>                              
                        </div>                                    
                    </div>
                </div>                  
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="login-form">

                  <router-outlet></router-outlet>
                    
                </div>

                <div class="circle">
                    <div class="circle-ripple"></div>
                </div>
            </div>
        </div>
    </div>
</div>



